/* 洛谷图标 */
.fa-luogu::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  background: url('/img/luogu.ico') no-repeat center / contain;
}

/*导航栏背景渐变*/
#nav {
  background: linear-gradient(90deg, rgba(178, 211, 250, 0.5), rgba(224, 250, 183, 0.5));
  -webkit-mask-image: linear-gradient(180deg, 
    black 0%, 
    transparent 100%
  );
  mask-image: linear-gradient(180deg, 
    black 0%, 
    transparent 100%
  );
}

/* 深色背景 */
#rain-canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  /*background: linear-gradient(90deg, rgba(4, 0, 45, 1), rgba(39, 45, 30, 1));*/
}